#banner {
    @include background("../images/banner/bg.webp", center, cover);
    min-height: 100vh;
    color: $white;
    padding-top: 60px;
    overflow: hidden;

    h1 {
        color: $verde;
        @include font-size(4rem);
    }

    .container,
    .row:first-child {
        height: 100vh;
    }

    .swiper-button-prev,
    .swiper-button-next {
        color: $black;
    }
}
