// Bootstrap
$primary: #023231;

// Custom
$rosa: #e10181;
$verde: #016500;
$amarillo: #fdb517;
$rojo: #ee3c25;
$gris: #f2f2f2;
$gris-oscuro: #b7b7b7;
$negro: #17161a;

$morado: #310d69;
$morado-claro: #7548b7;
$amarillo-huevo: #ffd100;
$azul: #3a49c7;
$azul-claro: #09a6ff;
$menta: #27f7ff;
$naranja: #fbab23;
