// Global styles
html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    color: $black;
    font-family: "Circular Std", sans-serif;
    position: relative;
}

header,
section,
footer {
    width: 100%;
    float: left;
}

.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.mh-100 {
    min-height: 100vh;
}

a {
    text-decoration: none;
    @include transition(ease, 0.3s);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "circular_stdmedium";
    letter-spacing: -0.1rem;
}

.py-60 {
    padding: 60px 0;
}

.pt-60 {
    padding-top: 60px;
}

.pb-60 {
    padding-bottom: 60px;
}

.py-30 {
    padding: 30px 0;
}

.pt-30 {
    padding-top: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.opacity-0 {
    opacity: 0 !important;
}

.opacity-1 {
    opacity: 1 !important;
}

.btn {
    border-radius: var(--bs-border-radius-pill) !important;
    font-family: "Circular Std", sans-serif;
    position: relative;
    left: 0;

    i {
        position: relative;
        left: 0;

        @include transition(ease, 0.2s);
    }

    &:hover,
    &:active {
        i {
            left: 3px;
        }
    }
}

.btn-primary {
    background-color: $primary;
    color: $white;
    @include transition(ease, 0.2s);
}

.btn-secondary {
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    position: relative;
    left: 0;
}

.btn-secondary-black {
    border-color: $black;
    color: $black;

    &:hover,
    &:active {
        border-color: $black !important;
        color: $black !important;
    }
}

.btn-secondary-white {
    border-color: $white;
    color: $white;

    &:hover,
    &:active {
        border-color: $white !important;
        color: $white !important;
    }
}

.bg-pattern-1,
.bg-pattern-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

hr {
    border-top: 2px solid;
    opacity: 1;
}

.card {
    background-color: $gris;
    border: 0;
    border-radius: 0;
    color: $black;
    padding: 1.4rem;

    .icono {
        background-color: $gris-oscuro;
        border-radius: 50px;
        color: $white;
        margin-bottom: 12px;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include font-size(1rem);
    }

    .card-link {
        font-weight: bold;
    }
}

.bg-pattern-1 {
    @include background("../images/bg-pattern-1.webp", center, auto);
    background-repeat: repeat;
    animation: scrollBackground 30s linear infinite;
}

.bg-pattern-2 {
    @include background("../images/bg-pattern-2.webp", center, auto);
    background-repeat: repeat;
}

@keyframes scrollBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 100%;
    }
}

.color-verde {
    color: $verde;
}

.social {
    a {
        background-color: $white;
        border-radius: 50px;
        color: $morado;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: $amarillo;
        }
    }
}

#navbar {
    background-color: transparent;
    width: 100%;
    height: auto;
    padding: 15px 30px;
    color: $black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    @include transition(ease, 0.2s);

    #logo-navbar {
        width: 200px;
        @include transition(ease, 0.2s);
    }

    #mburger {
        color: $black;
        @include font-size(1.4rem);

        &:hover,
        &:focus {
            color: $rosa;
        }
    }
}

.navbar-scroll {
    background-color: $white !important;
    padding: 10px 30px !important;
    @include transition(ease, 0.3s);

    #logo-navbar {
        width: 180px !important;
    }

    #mburger {
        // color: !important;
    }
}

#mapa {
    line-height: 0;

    p {
        margin: 0;
        padding: 0;
    }
}

#nosotros {
    overflow: hidden;

    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    h1 {
        color: $primary;
    }
}

#desarrolladoras {
    background-color: $black;
    color: $white;

    h1 {
        span {
            color: $rojo;
        }
    }
    .container,
    .container-fluid {
        .swiper-patrocinadores {
            position: relative;

            #overlay {
                background: rgb(0, 0, 0);
                background: linear-gradient(
                    90deg,
                    rgba(0, 0, 0, 1) 0%,
                    rgba(0, 0, 0, 0.5) 25%,
                    rgba(0, 0, 0, 0) 50%,
                    rgba(0, 0, 0, 0.5) 75%,
                    rgba(0, 0, 0, 1) 100%
                );
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
            }
        }

        .swiper-patrocinadores > .swiper-wrapper {
            // transition-timing-function: linear;
            // justify-content: space-evenly;

            .swiper-slide {
                margin: auto 30px;
            }
        }
    }
}

.descanso {
    @include background("../images/bg-descanso.webp", center, cover);
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    min-height: 600px;
    position: relative;
    overflow: hidden;
    animation: scrollUpDown 25s ease-in-out infinite;

    .overlay {
        background: rgb(0, 0, 0);
        background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(rgba(0, 0, 0, 1)),
            to(rgba(0, 0, 0, 0))
        );
        background: -o-linear-gradient(
            top,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0) 100%
        );
        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0) 100%
        );
        padding: 2rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;

        img {
            max-width: 250px;
        }
    }
}

@keyframes scrollUpDown {
    0% {
        background-position: center top;
    }
    50% {
        background-position: center bottom;
    }
    100% {
        background-position: center top;
    }
}

#servicios {
    .card {
        min-height: 263px;
    }
}

#desarrollos {
    .card {
        background-color: transparent;
        padding: 0;

        .card-img-top {
            @include transition(ease, 0.3s);

            &:hover {
                -webkit-transform: scale(1.05) !important; /* Safari, Chrome */
                -moz-transform: scale(1.05) !important; /* Firefox */
                -ms-transform: scale(1.05) !important; /* Internet Explorer */
                -o-transform: scale(1.05) !important; /* Opera */
                transform: scale(1.05) !important; /* Standard */
            }
        }

        .card-body {
            padding: 1.4rem;
        }
    }
}

#contacto {
    background-color: $gris;
    overflow: hidden;

    .form-control {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid var(--bs-border-color);
        border-radius: 0;
    }

    label {
        &::after {
            background-color: transparent;
        }
    }
}

#redes-sociales {
    overflow: hidden;

    .social {
        margin-bottom: 1.4rem;

        a {
            background-color: $white;
            border: 1px solid $black;
            color: $black;
            position: relative;
            @include transition(ease, 0.2s);

            &:hover {
                background-color: $black;
                color: $white;
            }
        }
    }

    .btn {
        margin-bottom: 4rem;
    }

    .swiper-asi-se-vive {
        .swiper-slide {
            align-self: center;

            img {
                width: 100%;
            }
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        color: $white;
    }
}

footer {
    background-color: $negro;
    color: $white;

    #logo-footer {
        max-width: 200px;
    }

    a {
        color: #8d8d8d;

        &:hover {
            color: $white;
        }
    }

    .btn {
        border-radius: 0.5rem !important;
    }

    .desarrolladoras {
        img {
            max-width: 42px;
        }
    }
}
