// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {
    footer {
        .desarrolladoras {
            img {
                max-width: 62px;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
    .menu {
        .menu-contenido {
            nav {
                ul {
                    li {
                        display: inline-block;

                        &:after {
                            position: absolute;
                            right: -14px;
                            top: 1px;
                            content: "/";
                            color: $white;
                        }
                    }
                }
            }
        }
    }

    footer {
        .desarrolladoras {
            img {
                max-width: 90;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
    footer {
        .desarrolladoras {
            img {
                max-width: 70px;
            }
        }

        #decor-footer {
            position: relative;
            bottom: -116px;
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {
    footer {
        .desarrolladoras {
            img {
                max-width: 74px;
            }
        }

        #decor-footer {
            bottom: -102px;
        }
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@include media-breakpoint-up(xxl) {
    footer {
        #decor-footer {
            bottom: -100px;
        }
    }
}
