.menu {
    @include blur-rgba(2, 50, 49, 0.9);
    width: 100%;
    height: 50vh;
    padding: 0 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: -633px;
    left: 0;
    opacity: 0;
    z-index: -1;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 76%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 76%);
    @include transition-menu(0.8s);

    #cerrar-menu {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 2rem;

        color: $white;
        text-decoration: none;
    }

    .menu-contenido {
        width: 100%;
        text-align: center;
        // color: ;

        .logo {
            width: 280px;
            margin-bottom: 20px;
        }

        nav,
        #btn-contacto,
        #social,
        #contacto-menu {
            width: 100%;
            float: left;
            display: block;
        }

        nav,
        #social,
        #contacto-menu {
            width: 100%;
            float: left;
            display: block;

            a {
                color: $white;
                text-decoration: none;

                &:hover,
                &:focus {
                    // color: ;
                }
            }
        }

        nav {
            width: 100%;
            float: left;
            // line-height: 2.4rem;
            // margin: 30px auto;
            text-align: center;

            ul {
                li {
                    position: relative;
                    display: block;

                    a {
                        span {
                            color: $amarillo;
                            margin-right: 5px;
                        }
                    }
                }

                li:last-child {
                    &:after {
                        display: none;
                    }
                }

                .list-inline-item:not(:last-child) {
                    margin-right: 1rem;
                }
            }
        }

        #btn-contacto {
            margin: 0 auto 30px;
        }

        #social {
            font-size: 2rem;
        }

        #contacto-menu {
            // color: ;
        }
    }

    &::after {
        position: absolute;
        bottom: -40px;
        @include absolute-center-x;
        content: "";
        background-color: $amarillo;
        width: 3px;
    }
}

.menu-abierto {
    top: 0;
    opacity: 1;
    z-index: 9999;
}
@media only screen and (max-width: 900px) {
    .menu-abierto {
        height: 75vh !important;
    }
}

#backdrop {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: none;
    z-index: -2;
    transition: backdrop-filter 0.2s;
    backdrop-filter: blur(4px) opacity(0);
}

.backdrop-opacity-1 {
    backdrop-filter: blur(4px) opacity(1);
    opacity: 1 !important;
    display: block !important;
    z-index: 998 !important;
}
